<div class="header">
    <hr style="border: none; border-top: 1px solid">
    <ul class="socials">
        <li><a href="https://www.instagram.com/{{ site.instagram_username }}/"><img src="../assets/images/instagram.png"></a></li>
        <li><a href="https://github.com/{{ site.github_username }}/"><img src="../assets/images/octocat.png"></a></li>
        <li><a href="mailto:{{ site.email }}"><img src="../assets/images/email.png"></a></li>
        <li style="float: right">Website design & development by me!</li>
    </ul>
</div>
