<div class="header flex_space_between">
    <!-- Get current page name to highlight in navigation -->
    {% assign current_page = page.title %}
    <!-- Initialize navigation array -->
    {% assign nav = "About,Blog,Engaging,Food,Style" | split: ',' %}

    <!-- Site title -->
    <a class="site_title" href="{{ site.url }}">{{ site.title }}</a>

    <!-- Site navigation -->
    <ul>
        <!-- Iterate through navigation array -->
        {% for nav_item in nav %}
            <!-- Find navigation item in site.pages -->
            {% assign page_array = site.pages | where: "title", nav_item %}
            <!-- Isolate page -->
            {% assign page = page_array[0] %}
            <!-- If page is active, use accent color -->
            {% if page.title == current_page %}
                <li class="nav_item"><a class="accent" href="{{ page.url }}">{{ page.title }}</a></li>
            <!-- Otherwise, use body color -->
            {% else %}
                <li class="nav_item"><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
