$body-font: 'Spectral';
$heading-font: 'Arial';
$body-font-color: black;
$accent-font-color: green;
$page-padding: 5vw;
$top-padding: 15vh;
$side-padding: 10vw;
$padded-page-width: calc(100vw - 2 * #{$page-padding});
$padded-width: calc(100vw - 2 * #{$side-padding});
$max-portrait-width: '(max-width: 1366px) and (orientation: portrait)';
$max-device-width: '(max-device-width: 1366px)';

* {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    color: $body-font-color;
}

h1, h2, h3, .site_title, .button {
    font-family: $heading-font;
}

h1, h2, h3, .site_title {
    line-height: 150%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    font-weight: normal;
    margin: 1em 0;
    color: $accent-font-color;
}

a {
    text-decoration: none;
    color: $body-font-color;
}

a:hover {
    text-decoration: line-through;

    img {
        -webkit-filter: brightness(90%);
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
}

ul {
    list-style: none;
}

hr {
    border: none;
    border-top: 1px solid;
}

.accent {
    color: $accent-font-color;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.side_padding {
    padding: 0 $side-padding;
}

.two_imgs {
    width: 100%;
    max-width: calc(#{$padded-width} / 2 - 1.5em);
    height: auto;
}

.container {
    h1, h2, h3, p {
        padding: 0 $side-padding;
    }
    p {
        margin: 1.5em 0;
        img {
            margin: 1.5em 0;
            width: 100%;
            max-width: $padded-width;
        }
    }
    a {
        color: $accent-font-color;
    }
}

.flex_space_between, .flex_space_between_centered_column, .flex_space_between_unresponsive, {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex_space_between, .flex_space_between_centered_column {
    @media only screen and #{$max-portrait-width} {
        flex-direction: column;
        align-content: center;
    }
}

.flex_space_between_centered_column {
    @media only screen and #{$max-portrait-width} {
        align-items: center!important;
        * {
            text-align: center!important;
        }
    }
}

.button {
    border: 1px solid $body-font-color;
    padding: 0.75em 1.5em;
    letter-spacing: 0.05em;
    text-align: center;
    display: inline-block;
}

.button:hover {
    text-decoration: none;
    background-color: $body-font-color;
    color: white;
}

.fullscreen_parallax {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    @media only screen and #{$max-device-width} {
        background-attachment: scroll;
    }
}

.skinny_parallax {
    width: 100vw;
    height: 30vh;
    background-size: cover;
    background-attachment: fixed;
    @media only screen and #{$max-device-width} {
        background-attachment: scroll;
    }
}

.hide_on_mobile_devices {
    @media only screen and #{$max-device-width} {
        display: none;
    }
}
