@import "base.scss";

.hero_1 {
    background-image: url(/assets/images/blutakos.jpg);
    background-position: bottom;
}

.latest_post {
    padding: 15vh 12.5vw;
    text-align: center;
    img {
        margin: 10vh 0 1em;
        width: 50vw;
        @media only screen and #{$max-portrait-width} {
            width: 75vw;
        }
    }
}

.hero_2 {
    background-image: url(/assets/images/swirl.JPG);
    background-position: top;
}

.featured_posts, .posts {
    width: $padded-width;
    padding: 5vh $side-padding;
    li {
        margin: 5vh 0;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.125em;
    }
    h3 {
        font-size: 0.8775em;
    }
    @media only screen and #{$max-portrait-width} {
        * {
            width: 100%!important;
        }
    }
}

.featured_posts {
    * {
        width: 25vw;
    }
    text-align: right;
}

.posts {
    * {
        width: 15vw;
    }
}

.paginator {
    padding: 0 $side-padding;
}

.older {
    position: absolute;
    right: $side-padding;
}
