@import "base.scss";

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/blutakos.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    @media only screen and #{$mobile} {
        background-attachment: scroll;
    }
}

.latest_post {
    padding: 15vh 12.5vw;
    text-align: center;
    img {
        margin: 10vh 0 1em;
        width: 50vw;
        @media only screen and #{$mobile} {
            width: 75vw;
        }
    }
}

.hero_2 {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/swirl.JPG);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    @media only screen and #{$mobile} {
        background-attachment: scroll;
    }
}

.featured_posts {
    width: 90vw;
    padding: 10vh 5vw;
    text-align: right;
    * {
        width: 25vw;
    }
}
